<div id="map"></div>
<footer>
    <div class="wrapper">
      © 2017 MH- General Assembly Project 2
    </div>
  </footer>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <!-- <script src="/assets/leaflet-beautify-marker-icon.js"></script> -->
  <script type="text/javascript" src="/assets/Leaflet.Icon.Glyph.js"></script>
  <script src="/assets/mapdata_marker2.js"></script>
</body>
</html>
